
Assignments/Lab 2/DepParser/model.pkl
Assignments/Lab 3/word2vec/good_notMine.py
Assignments/Lab 3/RandomIndexing/dogshit.py
Assignments/Lab 3/NER/random_index.gz
Assignments/Lab 3/NER/word_embeddings
Assignments/Lab 3/NER/random_index
Assignments/Lab 4/exercise/HP_book_1.txt
Assignments/Lab 4/
